{% extends 'buildings/base.html' %}
{%block content%}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-1">Сохраненные рассчеты</h1>
</div>


<div class="card">
    <div class="row">
        <div class="col-3">
            <h4 class="display-6">
                Наименование
            </h4>
        </div>
        <div class="col-3">
            <h4 class="display-6">
                Промышленное
            </h4>
        </div>
        <div class="col-2">
            <h4 class="display-6">
                Длина
            </h4>
        </div>
        <div class="col-2">
            <h4 class="display-6">
                Ширина
            </h4>
        </div>
        <div class="col-2">
            <h4 class="display-6">
                Высота
            </h4>
        </div>
    </div>
</div>
</div>
<br>
{%for building in building_list%}
<div class="card">
    <div class="row">
        <div class="col-3">
            <h1 class="display-6">
                {{building.name}}
            </h1>
        </div>
        <div class="col-3">
            <h1 class="display-6">
                {% if building.industrial%}
                Да
                {%else%}
                Нет
                {%endif%}
            </h1>
        </div>
        <div class="col-2">
            <h1 class="display-6">
                {{building.length}}
            </h1>
        </div>
        <div class="col-2">
            <h1 class="display-6">
                {{building.width}}
            </h1>
        </div>
        <div class="col-2">
            <h1 class="display-6">
                {{building.height}}
            </h1>
        </div>

    </div>
    <div class="card">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-2">
                <a class="btn btn-outline-success" href="{%url 'buildings:building_detail' building.id%}">Подробнее</a>
            </div>
            <div class="col-2">
                <a class="btn btn-outline-danger" href="{%url 'buildings:building_delete' building.id%}">Удалть</a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
<br>
{%endfor%}

{%endblock%}